.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    max-width: 900px;
    margin: auto;
    background-color: rgba(166, 166, 166, 0.85);
    color: #000000;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
}

.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dfdcdc;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-size: 50px;
    text-align: center;
}

.formGroup{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 180px;
}

.labelForm{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 6px;
}

.inputForm{
    height: 35px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    background-color: rgb(190, 187, 187);
    color: #000000;
    border: none;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.buttonLogin{
    font-weight: bold;
    background-color: #ccc;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self: center;
}