.turnosList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 65%;
  margin: auto;
}

h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #dfdcdc;
    padding-bottom: 30px;
    font-size: 50px;
}