.containerAppointment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 100%;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: rgba(166, 166, 166, 0.85);
    color: #000000;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    padding-top: 5px;
}

.containerAppointment p strong {
    margin-right: 15px;
    
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
   background-color: rgb(190, 187, 187);
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
}
