.containerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25%;
    height: 100%;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: rgba(166, 166, 166, 0.85);
    color: #000000;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    margin-top: 70px;
}

.containerLogin h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-size: 50px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.labelForm{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
}

.inputForm{
    width: 80%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgb(190, 187, 187);
    color: #000000;
    border: none;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.buttonLogin{
    margin-top: 20px;
    margin-bottom: 20px;
}