.header{
  height: 4vw;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(166, 166, 166, 0.85);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.nav{
    width: 100%;
    height: 33px;
    align-content: center;
  
}

.navUl{
    display: flex;
    justify-content: space-evenly;
}

.logo{
  width: 10.417vw;
  height: 3vw;
  top: 36px;
  margin-left: 65px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

header nav ul li a{
font-family: "Poppins", serif;
line-height: 24px;
font-size: 16px;
font-weight: 500;
text-align: center;
color: #222222;
padding: 4px 16px 5px 16px;
}

header nav ul li{
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
  border-radius: 9px;
  align-content: center;
} 

header nav ul li:hover{
  background-color: #222222;
  color: #FFFFFF;
  border-radius: 9px;

}

header nav ul li a:hover{
  color: #FFFFFF;
  font-weight: 600;
}

.logoutButton{
  box-shadow: 0px 0px 6px rgb(0, 0, 0);
  border-radius: 9px;
  width: 10.417vw;
}

.logoutButton:hover{
  background-color: #222222;
  color: #FFFFFF;
  border-radius: 9px;

}