.containerTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 900px;
    margin: auto;
    background-color: rgba(166, 166, 166, 0.85);
    color: #000000;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
}

.containerImagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}   

.divImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.img{
    width: 100%;
    height: 400px;
    object-fit: cover;;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
     transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.img:hover {
  transform: scale(1.08);
  z-index: 2;
  box-shadow: 0 4px 24px rgba(0,0,0,0.2); /* Opcional, para resaltar */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(166, 166, 166, 0.85);
    color: #000000;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    border-radius: 10px;
}